@import "../variables";
@import "mixins/transition";

.card {
    background-color: white;

    box-shadow: 10px 10px 20px -10px black;
    @include transition(box-shadow, 200ms, ease-in-out);

    .heading, .body, .footer {
        margin: 0 ($margin-default - 5) $margin-default ($margin-default - 5);

        &.heading{
            margin-left: 0;
            margin-right: 0;

            height: 200px;
            max-height: 200px;
            overflow: hidden;
        }

        &.footer {
            margin-bottom: 0;
            height: $line-height-computed*2;
            max-height: $line-height-computed*2;
            display: flex;
            align-items: center;
        }
    }

    &:hover {
        box-shadow: 10px 10px 20px -7px black;
    }

    &.equalHeight {
        display: flex;
        flex-direction: column;
        height: 100%;

        .heading, .body, .footer {
            display: flex;
            flex-direction: column;
            align-self: baseline;
        }

        .heading, .footer {
            flex-grow: 1;
        }

        .body {
            flex-grow: 2;
        }
    }
}