@import "../variables";
@import "mixins/transition";
@import "mixins/button";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

h1, h2, h3, h4, h5, h6, span, p, strong {
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.btn {
    border: none;
    border-radius: 0;

    font-weight: 500;
    text-transform: uppercase;

    @include transition(background-color, 500ms, ease-out);
    @include button-style(transparent, $brand-primary-dark, lighten($brand-primary-light, 20%), $brand-primary-dark);

    &:hover, &:focus {
        outline: none;
    }
}

.btn.btn-success {
    @include button-style($brand-success, white, $brand-success-dark, white);
}
