@import "../variables";
@import "../font-awensome/variables";

.recipe-card {
    .heading {
        img {
            width: 100%;
        }
    }

    .body {
        .title {
            font-size: 150%;
        }
    }

    .footer {
        div {
            display: flex;
            align-items: center;
            i {
                margin-right: $margin-default;
                color: $brand-secondary;

                &.hover {
                    cursor: pointer;
                }

                &:hover:before {
                    content: $fa-var-heart;
                }

                &.liked{
                    cursor: pointer;

                    &:hover:before {
                        content: $fa-var-heart-o;
                    }
                    &:before {
                        content: $fa-var-heart;
                    }
                }
            }
        }
    }
}

.recipe-full {
    background-color: white;
    padding: $margin-default;
    box-shadow: 10px 10px 20px -10px black;
    .heading {
        margin-top: 2*$margin-default;
        h1 {
            margin-top: 0;
        }
    }
}