
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%);   // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee


$brand-primary: #2196f3;
$brand-primary-light: #6ec6ff;
$brand-primary-dark: #0069c0;

$brand-secondary: #e91e63;
$brand-secondary-light: #ff6090;
$brand-secondary-dark: #b0003a;

$brand-success: #4CAF50;
$brand-success-light: #C8E6C9;
$brand-success-dark: #388E3C;

$margin-default: 15px;

$font-size-base:          14px;
$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px