@import "variables";

/* Components */
@import "components/card";
@import "components/navbar";
@import "components/grid";
@import "components/loader";
@import "components/typo";
@import "components/recipes";
/* Components */

/* Icons */
@import "font-awensome/font-awesome";
/* Icons */

/* Theme */
@import "components/material-theme";
/* Theme */

label {
    text-transform: none;
    font-size: $font-size-base;
}

.ladda-button {
    font-size: 14px;
}

.back-link {
    color: black;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: $gray-lighter;
}

.login-block {
    background-color: white;
    box-shadow: 10px 10px 20px -10px black;

    .fa {
        margin:$margin-default 0;
    }
}